@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

body{
    background-image: url("../img/fundo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

#conteiner{
    border: 3px solid rgb(41, 40, 40);
    position: static;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

